form{
    border:2px solid red;
    margin:auto;
    max-width: 600px;
    padding:20px;
    margin-bottom: 40px;
}

form input{
    display: block;
}

table{
    max-width: 600px;
    margin: auto;
}

table .bx-trash{
    color:red;
    cursor: pointer;
}

table .bx-edit{
    color:blue;
    cursor: pointer;
}